.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: var(--default-layout-header-height);
}

.container {
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
}

.content {
    flex: 1;
    min-height: 1000px;
}
