.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
}

.inner {
    margin: auto;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
}

//actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.more-btn {
    font-style: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

// Menu
.menu-items {
    width: 224px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
