.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
}

.inner {
    margin: auto;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    height: 46px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    position: relative;
    &:focus-within {
        border-color: #cccdcf;
    }
    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: red;
    }
}

.search,
.search-result {
    width: 361px;
}

.search-result {
    padding-top: 8px;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    width: 600px;
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    color: #cccdcf;
    font-size: 1.6rem;
    width: var(--search-button-width);
}

input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    position: relative;
    font-size: 1.8rem;
    color: rgba(169, 169, 173, 1);
    cursor: pointer;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &::before {
        content: '';
        position: absolute;
        background-color: #ccc;
        width: 1px;
        height: calc(var(--search-height) - 9px * 2);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

//actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.more-btn {
    font-style: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

// Menu
.menu-items {
    width: 224px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
